* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-size: 62.5%;
}

//variables 

$light-color: rgb(243, 243, 247);
$main-blue: rgb(40, 52, 216);


//Utilities
.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.grid-two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 1rem;
}

.hide {
    display: none;
}

#map {
    height: 30rem;
    width: 100%;  
}

//main body
body {
    background-color: $main-blue;
    color: $light-color;
    font-family: Montserrat;
}

//navagation bar

.nav-bar {

    .nav {
        a {
            color: #fff;
            font-size: .9rem;
        }
    }
}

//headding and intro text

.header {

    .title-holder {

        text-align: center;

        h1 {
            font-size: 4rem;
        }

        p {
            font-size: 1rem;
        }
    }


}

//showcase area for landing page

.showcase {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    .map-container {
        margin: auto;
        padding: auto;
        height: 25rem;
        width: 30rem;
    }

    .btn {
        margin: 1rem;
        padding: 1rem;
        border-radius: 5rem;
        width: 30rem;
        position: relative;
        right: 1rem;
    }
}